{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-5 col-sm-6">
            <a href="{% url 'event-list' %}" class="btn btn-light">back to feed</a>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12">
            <p><a style="text-decoration: none;" href="{% url 'profile' event.author.profile.pk %}" class="link-dark"><strong>{{ event.author }}</strong></a> {{ event.created_on }}
            {% if request.user == event.author %}
                <a href="{% url 'event-edit' event.pk %}" style="color: #333"><i class="far fa-edit"></i></a>
                <a href="{% url 'event-delete' event.pk %}" style="color: #333"><i class="fas fa-trash"></i></a>
            {% endif %}
            </p>
            <p>What? {{ event.title }}</p>
            <p>When? {{ event.date }}</p>
            <p>Where? {{ event.location }}</p>
            {% if event.link %}
            <a href="{{ event.link }}" target="_blank"><button class="btn btn-outline-info mb-2">find out more here</button></a>
            {% endif %}
            <p>{{ event.description }}</p>
        </div>
    </div>
</div>
{% endblock content %}