{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom">
            <h5 class="mb-3">protests for you 
            </h5>
            <p>find a protest to attend, or create an event</p>
        </div>
    </div>
    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-5 col-sm-12 border-bottom">
            <form method='POST' enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="d-grid gap-2">
                    <button class="btn btn-success mt-3">submit</button>
                </div>
            </form>
        </div>
    </div>
    {% for event in event_list %}
    <div class="row justify-content-center mt-3 mb-3">
        <div class="card shadow-sm col-md-5 col-sm-12 border-bottom position-relative">
            <p><strong>{{ event.author }}</strong> {{ event.created_on }}</p>
            {% if event.image %}
            <img src="{{ event.image.url }}" class="justify-content-center"/>
            {% endif %}
            <p>What? {{ event.title }}</p>
            <p>When? {{ event.date }}</p>
            <p>Where? {{ event.location }}</p>
            <p>{{ event.description|truncatechars:50  }}</p>
            <a href="{% url 'event-detail' event.pk %}" class="stretched-link"></a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
