{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom">
            <h5 class="mb-3">protests</h5>
            <p>search for keywords or scroll through events in your location</p>
            <button class="btn btn-light mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#protest-form" aria-expanded="true" aria-controls="protest-form">upload a protest</button>
        </div>
        <div id="protest-form" class="justify-content-center collapse mt-3 mb-5" >
            <div class="col-md-5 col-sm-12 border-bottom">
                <form method='POST' enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="d-grid gap-2">
                        <button class="btn btn-success mt-3">submit</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Do you want to use your preference settings?
            </label>
          </div>
    </div>
    {% for protest in protest_list %}
    <div class="row justify-content-center mt-3 mb-3">
        <div class="card shadow-sm col-md-5 col-sm-12 border-bottom position-relative">
            <p>
                <strong>{{ protest.author }}</strong>
                {% if protest.author.profile.is_verified %}
                    <i class="far fa-check-circle" style="color: #5ac84c;"></i>
                {% endif %}
            </p>
            {% if protest.image %}
            <img src="{{ protest.image.url }}" class="justify-content-center"/>
            {% endif %}
            <p>What? {{ protest.title }}</p>
            <p>When? {{ protest.date }}</p>
            <p>Where? {{ protest.location }}</p>
            <p>For? {{ protest.keyword }}</p>
            <p>{{ protest.body|truncatechars:50  }}</p>
            <a href="{% url 'protest-detail' protest.pk %}" class="stretched-link"></a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
